@font-face {
  font-family: "Mystery Quest";
  src: url('/font/MysteryQuest-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Vidaloka";
  src: url('/font/Vidaloka-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Trade Winds";
  src: url('/font/TradeWinds-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Verily Serif Mono";
  src: url('/font/VerilySerifMono.otf') format('truetype');
}

@font-face {
  font-family: "Bungee Inline";
  src: url('/font/Bungee-Inline.otf') format('truetype');
}

html {
  user-select: none;
  overflow: hidden !important;
  user-select: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

progress {
  width: 100%;
  height: 3vh;
  appearance: none;
}

.BoxUI {
  background: rgba(59, 65, 60, 0.50);
  color: #F2EDD5;
  font-family: "Verily Serif Mono";
  font-size: 20px;
  border: 1px solid #ccc;
}

::-webkit-progress-bar {
  background: #3B413C;
  /* border: 0.3vw double #F2EDD5; */
}

.progress-hp::-webkit-progress-bar {
  border-radius: 1vw;
  border: 0.2vw ridge #E2D8A6;
}

.progress-mp::-webkit-progress-bar {
  border-radius: 1vw;
  border: 0.2vw ridge #E2D8A6;
}

.progress-exp::-webkit-progress-bar {
  /* border-radius: 1vw; */
  border: 0.2vw ridge #E2D8A6;
}

.progress-hp::-webkit-progress-value {
  background: linear-gradient(to right, #F05919, #17EB12);
  border-radius: 1vw;
}

.progress-mp::-webkit-progress-value {
  background: linear-gradient(to right, #CEDDE3, #1552EE);
  border-radius: 1vw;
}

.progress-exp::-webkit-progress-value {
  /* background: #E3CD3B */
  background: #624CAB
}

/* CSSアニメーションの設定 */
@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideTop {
  0% {
    opacity: 0.3;
    transform: translateY(-50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideBottom {
  0% {
    opacity: 0.3;
    transform: translateY(50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0.3;
    transform: translateX(50vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.button-equip {
  padding: 0.3vh 1vw 0.8vh 1vw;
  text-align: center;
  font-size: 3.6vh;
  font-family: "Verily Serif Mono";
  border-radius: 1vw;
  color: #F2EDD5;
  border: 0.3vw ridge #F2EDD5;
}